<md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar _md">
  <div class="md-toolbar-tools docs-toolbar-tools" tabindex="-1">
    <div layout="row" flex="" class="fill-height layout-row flex">
      <h2 class="md-toolbar-item md-breadcrumb md-headline">
        <span class="md-breadcrumb-page">Dashboard</span>
      </h2>
      <span flex="" class="flex"></span>
    </div>
  </div>
</md-toolbar>

<md-content md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
  <h1>conteudo</h1>

</md-content>
